table{
    width:auto;
    margin:0;
    
}

#list_wrap{
    width:800px;
    border: 1px solid black;
    margin-bottom: 1px;
    
}

#left{
    width:60%;
    float:left;
}

#right{
    width:40%;
    float:right;
}

#right ul li{
    line-height: 30px;
}

#list_wrap::after{
    content: "";
    clear: both;
    display: block;
}

li{
    list-style:none;
}